#parent{
    display: grid; 
   grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
   justify-items: center;
   gap: 80px;


}

#parent > img{
    width: 900px;
    margin: 60px 60px;
    border: 2px solid rgb(0, 155, 226) ;
}

    